<!-- Footer Section Start -->
<footer id="footer" class="footer-area section-padding">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="footer-logo">
              <%= image_tag('logo.svg',class: 'footer-logo') %>
            </h3>
            <div class="textwidget">
              <p><%= @site.sub_title %></p>
            </div>
            <!--<div class="social-icon">-->
              <!--<a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>-->
              <!--<a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>-->
              <!--<a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>-->
              <!--<a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>-->
            <!--</div>-->
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <h3 class="footer-titel">Products/Projects</h3>
          <ul class="footer-link">
            <% @projects.each  do |project| %>
              <li>
                <%= link_to(project.title, project.image_link) %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <h3 class="footer-titel">Contact</h3>
          <ul class="address">
            <li>
              <a href="#">
                <i class="lni-map-marker"></i>
                <%= @site.contact %>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-content">
            <p>Copyright © <%= Time.current.year %> FrostMango All Right Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->